$color-dark: #555;
$color-darker: #222;
$color-light: tan;
$color-lighter: #dadada;
$font-fam: 'Trebuchet MS', serif;

a {
  text-decoration: none;
  color: inherit;
}

.body {
  background-color: $color-dark;
  color: $color-light;
  font-family: $font-fam;
  line-height: 1.5;
  transition: all 0.3s ease;

  &.light {
    color: $color-dark;
    background-color: $color-light;

    .wrapper {
      background-color: $color-lighter;
    }
  }

  header {
    padding: 1rem;

    @include flex(space-between, baseline);

    a {
      @include flex(center, center);
    }
  }
}

main {
  height: calc(100vh - 6rem);
  width: 100%;

  @include flex(center, center);

  .wrapper {
    background-color: #222;
    border-radius: 1rem;
    border: 1px solid tan;
    box-shadow: 0 4rem 2rem -3rem #0003;
    height: auto;
    max-width: 70vw;
    padding: 2rem;
    width: 100%;

    @include flex(center, center);

    @include breakpoint(md) {
      max-width: 40vw;
    }

    @include breakpoint(lg) {
      max-width: 40vw;
    }
  }

  .text {
    font-size: 1.2rem;

    @include breakpoint(md) {
      font-size: 1.5rem;
    }
  }
}

.quotes {
  .author {
    font-size: 120%;
    letter-spacing: 1rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
  }

  .quote-inner {
    max-height: 20rem;
    overflow-y: scroll;
  }
}

.quote {
  .details {
    @include flex(space-between, center);

    .material-icons {
      opacity: 0;
      transition: opacity 0.6s ease;
    }

    &:hover {
      .material-icons {
        opacity: 1;
      }
    }
  }
}

footer {
  bottom: 0;
  left: 50%;
  margin-right: -50%;
  opacity: 0.1;
  position: fixed;
  padding: .6rem;
  text-align: center;
  transform: translateX(-50%);
  transition: opacity 0.5s ease;

  &:hover {
    opacity: 0.7;
  }

  a {
    color: $color-darker;
  }
}
