@mixin flex($justCont, $alignItems) {
  display: flex;
  justify-content: $justCont;
  align-items: $alignItems;
}

// Breakpoints
@mixin breakpoint($size) {
  @if $size ==md {
    @media (min-width:768px) {
      @content;
    }
  }

  @if $size ==lg {
    @media (min-width:1260px) {
      @content;
    }
  }


}
